<h1>About Raven</h1>
</br>
<p>Raven is a text analytics application that allows small businesses to take advantage of the power unstructured data on the web.</p>
</br>
<p>Raven was developed by Joel Ramsey and gustavo Barragan, founders of Glyphex Technologies.</p>

