<br/>
<div class="jumbotron">
  <h1>Raven</h1>
  </br>
  <p>Raven is a user-friendly text analytics platform that enhances a user's ability to rapidly make sense of large amounts of unstructured text. Reduce your time spent reading, and move toward decision making. Let Raven do the heavy lifting!</p>
  
  <% unless current_user %> 
    <p>
      <%= link_to "Sign In", new_user_session_path, class: 'btn btn-primary' %> or
      <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary' %> today!
    </p>
  <% end %>
  
</div>

<div class="row">
  <div class="col-md-3">
    <h2>Analyze content</h2>
    <p>Choose your analysis target. Raven allows you to extract key concepts from urls, pasted text, and uploaded files.</p>
  </div>
  <div class="col-md-3">
    <h2>View summary</h2>
    <p>Assess your analyzed content through a rich and cleanly-formatted summary data view.</p>
  </div>
  <div class="col-md-3">
    <h2>Visualize</h2>
    <p>Increase sense making by visualizing relationship diagrams and entity sentiment tree maps.</p>
  </div>
  <div class="col-md-3">
    <h2>Export</h2>
    <p>Send your analysis to Microsoft Word and Excel for ease of intergation in local report generation.</p>
  </div>
</div>