<%= link_to "Return to Index", documents_path %> |
<%= link_to "Return to Result", @document %>
<% json_str = ""
   @entities.each do |entity|
     json_str << '{"text": "' + entity.text + '", "entity_type": "' + entity.entity_type +
        '", "sentiment": "' + entity.sentiment.sentiment_type + '", "mixed": "' + entity.sentiment.sentiment_mixed.to_s +
        '", "relevance": "' + entity.relevance.to_s + '"}, '
   end
   json_str = json_str[0...json_str.length-2]
%>
<style type="text/css">
body {
  overflow: hidden;
  margin: 0;
  font-size: 14px;
  font-family: "Helvetica Neue", Helvetica;
}

#chart, #footer {
  position: absolute;
  top: 0;
}

#footer {
  z-index: 1;
  display: block;
  font-size: 36px;
  font-weight: 300;
  text-shadow: 0 1px 0 #fff;
}

#footer {
    float: right;
    position: relative;
    margin-right: 20px;
    margin-top: 10px;
}

#footer select {
  font-size: 12px;
}

text {
  font-size: 11px;
}

rect {
  fill: none;
  pointer-events: all;
}

.hint {
  position: absolute;
  right: 0;
  width: 100%;
  font-size: 12px;
  color: #999;
}
</style>
<div id="body">
</div>
<div id="footer">
  d3_new.layout.treemap
  <div class="hint">click or option-click to descend or ascend</div>
  <div><select>
    <option value="size">Size</option>
    <option value="count">Count</option>
    </select></div>
</div>
<script type="text/javascript">
  var w = $("div.container").innerWidth - 80,
      h = window.innerHeight - 180,
      x = d3_new.scale.linear().range([0, w]),
      y = d3_new.scale.linear().range([0, h]),
      root,
      node;
  $(window).on('resize', resize);
  function resize() {
    h = window.innerHeight - 180;
    w = $("div.container").width() - 80;
	  x = d3_new.scale.linear().range([0, w]);
	  y = d3_new.scale.linear().range([0, h]);
    $("svg").css('height', h + 'px');
    drawGraph();

  }
  var base_data = [<%= json_str.html_safe %>];

      var flare = {"name": "flare", "children":[
        {"name": "positive", "children":[]}, {"name": "negative", "children":[]},
        {"name": "neutral", "children":[]}, {"name": "mixed", "children":[]}]};

  for(var i=0; i<base_data.length; i++) {
    var obj = base_data[i];
    var type = obj["sentiment"];
    if(obj["mixed"]==1) type = "mixed";
    switch(type){
      case "positive":
        flare["children"][0]["children"].push({"name": obj["text"], "size": obj["relevance"]});
        break;
      case "negative":
        flare["children"][1]["children"].push({"name": obj["text"], "size": obj["relevance"]});
        break;
      case "neutral":
        flare["children"][2]["children"].push({"name": obj["text"], "size": obj["relevance"]});
        break;
      case "mixed":
        flare["children"][3]["children"].push({"name": obj["text"], "size": obj["relevance"]});
        break;
    }
  }
  resize();
  function drawGraph() {
    $('div.chart').remove();
    var treemap = d3_new.layout.treemap()
    .round(false)
    .size([w, h])
    .sticky(true)
    .value(function(d) { return d.size; });

    var svg = d3_new.select("#body").append("div")
    .attr("class", "chart")
    .style("width", w + "px")
    .style("height", h + "px")
    .append("svg:svg")
    .attr("width", w)
    .attr("height", h)
    .append("svg:g")
    .attr("transform", "translate(.5,.5)");
    node = root = flare;

    var nodes = treemap.nodes(root)
    .filter(function(d) { return !d.children; });

    var cell = svg.selectAll("g")
    .data(nodes)
    .enter().append("svg:g")
    .attr("class", "cell")
    .attr("transform", function(d) { return "translate(" + d.x + "," + d.y + ")"; })
    .on("click", function(d) { return zoom(node == d.parent ? root : d.parent, svg); });

    cell.append("svg:rect")
      .attr("width", function(d) { return d.dx - 1; })
      .attr("height", function(d) { return d.dy - 1; })
      .style("fill", function(d) { return color(d.parent.name); });

    cell.append("svg:text")
      .attr("x", function(d) { return d.dx / 2; })
      .attr("y", function(d) { return d.dy / 2; })
      .attr("dy", ".35em")
      .attr("text-anchor", "middle")
      .text(function(d) { return d.name; })
      .style("fill", "#fff")
      .style("opacity", function(d) { d.w = this.getComputedTextLength(); return d.dx > d.w ? 1 : 0.4; });

    d3_new.select(window).on("click", function() { zoom(root, svg); });

    d3_new.select("select").on("change", function() {
      treemap.value(this.value == "size" ? size : count).nodes(root);
      zoom(node, svg);
    });
  }

  function color(d) {
    switch(d) {
      case "positive":
        return "#65C539";
      case "negative":
        return "#C33";
      case "neutral":
        return "#808080";
      case "mixed":
        return "#993366";
    }
  }

  function size(d) {
    return d.size;
  }

  function count(d) {
    return 1;
  }

  function zoom(d, svg) {
    var kx = w / d.dx, ky = h / d.dy;
    x.domain([d.x, d.x + d.dx]);
    y.domain([d.y, d.y + d.dy]);

    var t = svg.selectAll("g.cell").transition()
    .duration(d3_new.event.altKey ? 7500 : 750)
    .attr("transform", function(d) { return "translate(" + x(d.x) + "," + y(d.y) + ")"; });

    t.select("rect")
      .attr("width", function(d) { return kx * d.dx - 1; })
      .attr("height", function(d) { return ky * d.dy - 1; })

    t.select("text")
      .attr("x", function(d) { return kx * d.dx / 2; })
      .attr("y", function(d) { return ky * d.dy / 2; })
      .style("opacity", function(d) { return kx * d.dx > d.w ? 1 : 0.4; });

    node = d;
    d3_new.event.stopPropagation();
  }

</script>
<%= stylesheet_link_tag "d3-process-map/style" %>
<%= stylesheet_link_tag "d3-process-map/svg" %>