<h2>Data Store Totals</h2>
<p><b>Total Alchemy API points consumed:</b> <%= Document.sum(:transaction_count) %></p>
<p><b>Number of document analysis returns:</b> <%= Document.count %></p>

<h2>Analysis Results</h2>
<p><%= link_to "Total Relationship Diagram", documents_total_relationship_diagram_path %> |
<%= link_to "Total Knowledge Diagram", documents_total_knowledge_diagram_path %> |
<%= link_to "Total Entity Tree Map", documents_total_entity_tree_map_path %></p>
<HR>
<% @documents.each do |document| %>
  <p><b>Title: </b> <%= link_to document.title, document %></p><button>Relationship Diagram</button>
  <p><b>Author: </b> <%= document.author %></p>
  <p><b>URL: </b> <%= document.url %></p>
	<p><b>Date Retrieved:</b> <%= document.created_at %></p>
  <br/>
  <%= link_to "Relationship Diagram", relationship_diagram_path(document) %> |
  <%= link_to "Knowledge Diagram", knowledge_diagram_path(document) %> |
  <%= link_to "Entity Tree Map", entity_tree_map_path(document) %>
<HR>
<% end %>

