<div>
  </br>
  <%= link_to "<< Results", documents_path %>
  <h2><%= @document.title %></h2>
  <p>Author:  <%= @document.author %></p>
  <p>Source:  <%= @document.url %></p>
  <p>Sentiment type:  <%= @document.sentiment.sentiment_type %></p>
  <p>Sentiment score:  <%= @document.sentiment.sentiment_score %></p>
  <%= link_to "Relationship Diagram", relationship_diagram_path(@document) %> |
  <%= link_to "Knowledge Diagram", knowledge_diagram_path(@document) %> |
  <%= link_to "Entity Tree Map", entity_tree_map_path(@document) %> |
  <%= link_to "Delete this document", @document, method: :delete, data: {confirm: "Are you sure?"} %>

<HR>
  <h2>Entities: </h2>
  <%= @entities.each do |entity| %>
    <p>Entity: <%= entity.text %></p>
    <p>Count: <%= entity.count %></p>
    <p>Type: <%= entity.entity_type %></p>
    <p>Relevance: <%= entity.relevance %></p>
    <p>Knowledge Graph: <%= entity.knowledge_graph_type_hierarchy %></p>
    <p>Sentiment: <%= entity.sentiment.sentiment_type %></p>
    <p>Sentiment Score: <%= entity.sentiment.sentiment_score %></p>
    <p>Sentiment Mixed: <%= entity.sentiment.sentiment_mixed %></p>
  <HR>
  <% end %>
  <HR>
  <h2>Keywords: </h2>
  <%= @keywords.each do |keyword| %>
    <p>Keyword: <%= keyword.text %></p>
    <p>Type: <%= keyword.keywordable_type %></p>
    <p>Relevance: <%= keyword.relevance %></p>
    <p>Knowledge Graph: <%= keyword.knowledge_graph_type_hierarchy %></p>
    <p>Sentiment: <%= keyword.sentiment.sentiment_type %></p>
    <p>Sentiment Score: <%= keyword.sentiment.sentiment_score %></p>
    <p>Sentiment Mixed: <%= keyword.sentiment.sentiment_mixed %></p>
  <HR>
  <% end %>
  <HR>
  <h2>Concepts: </h2>
  <%= @concepts.each do |concept| %>
    <p>Concept: <%= concept.text %></p>
    <p>Relevance: <%= concept.relevance %></p>
    <p>Knowledge Graph: <%= concept.knowledge_graph_type_hierarchy %></p>
  <HR>
  <% end %>
  <HR>
    <h2>Relations: </h2>
    <%= @relations.each do |relation| %>
    <p>Extracted Sentence: <%= relation.sentence %></p>
    <p>Subject: <%= relation.subject_text %></p>
    <!--put relation loops here (keyword, entity, action, relation object)-->
      <p>Verb Normalization: </p>
      <%= relation.actions.each do |action| %>

        <p>Action: <%= action.text %> </p>
        <p>Lemmatized: <%= action.lemmatized %> </p>
        <p>Verb: <%= action.verb_text %> </p>
        <p>Tense: <%= action.verb_tense %> </p>
      <% end %>
      <%= relation.relation_objects.each do |object| %>
        <p>Object Text:  <%= object.text %> </p>
      <% end %>
    <p>Relational Entities: </p>
    <%= relation.entities.each do |entity| %>
      <p>Entity: <%= entity.text %></p>
      <p>Type: <%= entity.entity_type %></p>
    <% end %>
  <HR>
  <% end %>
  <HR>
</div>