<%= link_to "Return to Index", documents_path %>
<%
json_str = ""
i = 0
@document.each do |document|
  @entities = document.entities
  @entities.each do |entity|
    hierarchy = ''
    if entity.knowledge_graph_type_hierarchy.nil?
      hierarchy = ''
    else
      hierarchy = entity.knowledge_graph_type_hierarchy
    end
    json_str << '{"text": "' + entity.text + '", "entity_type": "' + entity.entity_type +
      '", "knowledge_graph_type_hierarchy": "' + hierarchy +
      '", "sentiment": "' + entity.sentiment.sentiment_type + '"}, '
    i = i + 1
    if i == 100
      break
    end
  end
end
relational_entities = "["
@document.each do |document|
  @relations = document.relations
  @relations.each do |relation|
    if relation.entities.length > 1
      element = "["
      relation.entities.each do |entity|
        element = element + "'" + entity.text + "',"
      end
      element = element[0...element.length-1] + "]"
      relational_entities = relational_entities + element + ","
    end
  end
end
json_str = json_str[0...json_str.length-2]
if relational_entities.length > 1
  relational_entities = relational_entities[0...relational_entities.length-1] + "]"
else
  relational_entities = "[]"
end

%>

<div id="split-container">
  <div id="graph-container">
    <div id="graph"></div>
  </div>
</div>
<script>
  var base_data = [<%= json_str.html_safe %>];
  var relational_entities = <%= relational_entities.html_safe %>;
  var config = {
    "graph" : {
      "linkDistance" : 100,
      "charge"       : -400,
      "height"       : 800,
      "numColors"    : 12,
      "labelPadding" : {
        "left"   : 3,
        "right"  : 3,
        "top"    : 2,
        "bottom" : 2
      },
      "labelMargin" : {
        "left"   : 3,
        "right"  : 3,
        "top"    : 2,
        "bottom" : 2
      },
      "ticksWithoutCollisions" : 50
    }
  };
  var data = [];
  for(i=0; i<base_data.length; i++) {
    var obj = base_data[i];
    var str = obj['text'];
    if(str in data) continue;
    var node = new Object;
    node["type"] = obj['entity_type'];
    node["sentiment"] = obj['sentiment'];
    node["name"] = str;
    node["dependedOnBy"] = [];
    node["depends"] = [];
    data[str] = node;
  }
  for(i=0; i<relational_entities.length; i++) {
	  for(var j=0; j<relational_entities[i].length-1; j++){
		  for(var k=j+1; k<relational_entities[i].length; k++){
			  if((relational_entities[i][j] in data)&&(relational_entities[i][k] in data)) {
				  var str1 = relational_entities[i][j];
				  var str2 = relational_entities[i][k];
				  if(data[str1]["dependedOnBy"].indexOf(str2)==-1) {
					data[str1]["dependedOnBy"][data[str1]["dependedOnBy"].length] = str2;
					data[str1]["depends"][data[str1]["depends"].length] = str2;
				  }
				  if(data[str2]["dependedOnBy"].indexOf(str1)==-1) {
					data[str2]["dependedOnBy"][data[str2]["dependedOnBy"].length] = str1;
					data[str2]["depends"][data[str2]["depends"].length] = str1;
				  }
			  }
		  }
	  }
  }
  graph.data = data;
  resize(false);
  drawGraph();
</script>
<%= stylesheet_link_tag "d3-process-map/style" %>
<%= stylesheet_link_tag "d3-process-map/svg" %>


