<%= link_to "Return to Index", documents_path %>
<%
json_str = ""
i = 0
@document.each do |document|
  @entities = document.entities
  @entities.each do |entity|
    hierarchy = ''
    if entity.knowledge_graph_type_hierarchy.nil?
      hierarchy = ''
    else
      hierarchy = entity.knowledge_graph_type_hierarchy
    end
    json_str << '{"text": "' + entity.text + '", "entity_type": "' + entity.entity_type +
      '", "knowledge_graph_type_hierarchy": "' + hierarchy +
      '", "sentiment": "' + entity.sentiment.sentiment_type + '"}, '
    i = i + 1
    if i == 100
      break
    end
  end
end
relational_entities = "["
@document.each do |document|
  @relations = document.relations
  @relations.each do |relation|
    if relation.entities.length > 1
      element = "["
      relation.entities.each do |entity|
        element = element + "'" + entity.text + "',"
      end
      element = element[0...element.length-1] + "]"
      relational_entities = relational_entities + element + ","
    end
  end
end
json_str = json_str[0...json_str.length-2]
if relational_entities.length > 1
  relational_entities = relational_entities[0...relational_entities.length-1] + "]"
else
  relational_entities = "[]"
end

%>

<div id="split-container">
  <div id="graph-container">
    <div id="graph"></div>
  </div>
</div>
<script>
  var base_data = [<%= json_str.html_safe %>];
  var relational_entities = <%= relational_entities.html_safe %>;
  var config = {
    "graph" : {
      "linkDistance" : 100,
      "charge"       : -400,
      "height"       : 800,
      "numColors"    : 12,
      "labelPadding" : {
        "left"   : 3,
        "right"  : 3,
        "top"    : 2,
        "bottom" : 2
      },
      "labelMargin" : {
        "left"   : 3,
        "right"  : 3,
        "top"    : 2,
        "bottom" : 2
      },
      "ticksWithoutCollisions" : 50
    }
  };
  var data = [];
  data["root"] = {"type":"root", "name":"root", "depends":[], "dependedOnBy":[]};
  for(i=0; i<base_data.length; i++) {
    var obj = base_data[i];
    if(obj["knowledge_graph_type_hierarchy"]==null||obj["knowledge_graph_type_hierarchy"]=="") {
      var node = new Object;
      var str = obj['text'];
      node['type'] = obj['entity_type'];
      node['name'] = str;
      node['sentiment'] = obj['sentiment'];
      node['depends'] = [];
      node['dependedOnBy'] = [];
      data[str] = node;
    } else {
      var hierarchy = obj["knowledge_graph_type_hierarchy"].split("/");
      for(var j=0; j<hierarchy.length-1; j++) {
        var str = hierarchy[j];
        var str1 = ((j+2)==hierarchy.length)?obj['text']:hierarchy[j+1];
        if (str=='')
        {
          str = "root";
        }
        if(str in data) {
          if(data[str]["dependedOnBy"].indexOf(str1)) {
            data[str]["dependedOnBy"][data[str]["dependedOnBy"].length] = str1;
          }
        } else {
          var node = new Object;
          node["type"] = obj['entity_type'];
          node["sentiment"] = obj['sentiment'];
          node["name"] = str;
          node["dependedOnBy"] = [str1];
          node["depends"] = [];
          data[str] = node;
        }
      }

      //					var str = hierarchy[j];
      var str = obj['text'];
      if((str in data)==false) {
        var node = new Object;
        node["type"] = obj['entity_type'];
		    node["sentiment"] = obj['sentiment'];
        node["name"] = str;
        node["dependedOnBy"] = [];
        node["depends"] = [];
        data[str] = node;
      }
    }
  }

  for( node in data ) {
    var depends = data[node]["dependedOnBy"];
    var name = data[node]["name"];
    for(i in depends) {
      str = depends[i];
      if(data[str]["depends"].indexOf(name)==-1) {
        data[str]["depends"][data[str]["depends"].length] = name;
      }
    }
  }
  graph.data = data;
  resize(false);
  drawGraph();
</script>
<%= stylesheet_link_tag "d3-process-map/style" %>
<%= stylesheet_link_tag "d3-process-map/svg" %>


